{% extends 'base.html.twig' %}

{% block title %}Hello FirstPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    html{
        font-size: 62.5%;
    }
    body{
        padding:50px;
    }
    canvas{
        border : 1px solid #000;
        display: block;
        margin: 0 auto;
    }
    .swiper-container{
        width: 50rem;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .swiper-slide{
        background:#ccc;
        /*background-size:cover;*/
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:40px;
    }
    #click2start {
        height: 30rem  ;
        /*width: 560px;*/
        margin: 0;

        /*background: yellow;*/
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*margin-right: -50%;*/
        /*transform: translate(-50%, -50%);*/


        width: 50rem;
    }
    #porownanie{
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: darkgrey;
    }
    /*@media all and (max-width: 1500px) and (min-width:1001px){*/
    /*    body{*/
    /*        background-color: green;*/
    /*    }*/
    /*    #id div {*/
    /*        width: 98%;*/
    /*    }*/
    /*}*/
    @media all and (max-width: 5000px) and (min-width:616px){
        body{
            background-color: white;
            /*docelowo bialo*/
        }

        #click2start {
            height: 30rem  ;
            /*width: 560px;*/

            width: 50rem;
        }
        #algorithm {
            background-color: blue;
            /*background-size:cover;*/
            display:flex;
            justify-content: center;
            align-items: center;
            font-size:2rem;
            color:white;
            text-align: center;
        }
        .swiper-container{
            width: 50rem;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        /*wstawianie proste itd lista cala*/
        #algorithms_all_list{
            align-items: center;
            background-color: black;
            justify-content: center;
            font-size:2rem;
            color:white;
            text-align: center;
        }
        #all_list{
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }
    @media all and (max-width: 615px) and (min-width:1px){
        body{
            background-color: lightblue;
            /*docelowo bialo*/
        }

        #click2start {
            height: 15rem  ;
            /*width: 560px;*/

            width: 25rem;
        }
        #algorithm {
            background-color: blue;
            /*background-size:cover;*/
            display:flex;
            justify-content: center;
            align-items: center;
            font-size:2rem;
            color:white;
            text-align: center;
        }
        .swiper-container{
            width: 25rem;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        /*wstawianie proste itd lista cala*/
        #algorithms_all_list{
            align-items: center;
            background-color: black;
            justify-content: center;
            font-size:2rem;
            color:white;
            text-align: center;
        }
        #all_list{
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }

</style>

    <div class="form-group row">
{#        <div class="col-sm-1">#}

{#        </div>#}
{#        <div class="col-sm-1">#}
{#            <li><a href="{{path('hello_page') }} ">back</a></li>#}
{#            <li><a href="{{ path('logout') }}">Logout</a></li>#}
{#        </div>#}
        <div class="col-sm-12">
            <div id="algorithms_all_list">
                <div id="all_list"><a href="{{path('insertion_sort') }} ">Wstawieanie proste</a></div>
                <div id="all_list"><a href="{{path('insertion_half_sort') }} ">Wstawianie polowkowe</a></div>
                <div id="all_list"><a href="{{path('select_sort') }} ">Wybieranie proste</a></div>
                <div id="all_list"><a href="{{path('bubble_sort') }} ">Sortowanie Babelkowe - Bubble sort</a></div>
                <div id="all_list"><a href="{{path('bubble_sort_with_flag') }} ">Sortownaie babelkowe ze znacznikiem</a></div>
                <div id="all_list"><a href="{{path('mix_sort') }} ">Sortowanie mieszane</a></div>

                <div id="all_list"><a href="{{path('shell_sort') }} ">Sortowanie metoda Shella</a></div>
                <div id="all_list"><a href="{{path('heap_sort') }} ">Sortowanie stogowe</a></div>

                <div id="all_list"><a href="{{path('quick_sort') }} ">Sortowanie szybkie</a></div>
                <div id="all_list"><a href="{{path('merge_sort') }} ">Sortowanie przez laczenie</a></div>
            </div>
            <br>
            <div id="algorithm">
            <h1>Algorytmy sortowania wykorzystujace mechanizm wstawiania:</h1>
            </div>
                <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                         <a href="{{path('insertion_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/wstawianie-proste-biale.png') }}" >
                         </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('insertion_half_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/wstawianie-polowkowe-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('shell_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-metoda-shella-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('merge_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-przez-laczenie-biale.png') }}" >
                        </a>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div id="next_swiper" class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            <div id="algorithm">
                <h1>Algorytmy sortowania wykorzystujace mechanizm wybierania:</h1>
            </div>
                <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="{{path('select_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/wybieranie-proste-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('heap_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-stogowe-biale.png') }}" >
                        </a>
                    </div>




                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div id="next_swiper" class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

            <div id="algorithm">
                <h1>Algorytmy sortowania wykorzystujace mechanizm zamiany: </h1>
            </div>
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="{{path('bubble_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-babelkowe-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('bubble_sort_with_flag') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-babelkowe-ze-znacznikiem-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('mix_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-mieszane-biale.png') }}" >
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{{path('quick_sort') }} "> <img id="click2start"   src="{{ asset('js/img/first-page/sortowanie-szybkie-biale.png') }}" >
                        </a>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div id="next_swiper" class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>


{#            PODSUMOWANIE ALGORYTMOW WYKORZYSTANYCH W WYKLADZIE Z ALGORYTMOW SORTOWANIA#}
{#            <img id="pause"  src="{{ asset('js/img/profesor.png') }}" >#}


{#            Nadobowiazkowo:D#}
{#            <div><a href="{{path('counting_sort') }} ">Count sort</a></div>#}
            <br><br><br><br><br>

            <div id="porownanie">
            <h1 id="algorithm">Porównanie prętkości działania metod sortowania: - slajd 36 </h1>

                <h1>Podaj ilość elementow do posortowania (zalecane 100 elementów bo moze dlugo trwac obliczanie)(sa wybrane 3 algorytmy bo dla innych nie istnieja wystarczajace wzory matematyczne slajd 36 - proste wstawianie ma 0ms bo ilosc Po i Pr jest bardzo mala</h1>
            <form name="myForm">
                <input id="numb" name="fname">
                <button onclick="  myFunction()"  type="button">Submit</button>

            </form>
             <br><br><br><br><br><br>


            <p id="demo00"></p>
            <p id="demo01"></p>
            <p id="demo02"></p>
            <p id="demo03"></p>
            <p id="demo04"></p>
            <p id="demo05"></p>
            <p id="demo06"></p>
            <p id="demo07"></p>
            <p id="demo08"></p>
{#            time#}
                <h1 id="demo111a"></h1>
            <p id="demo1"></p>
            <p id="demo2"></p>
            <p id="demo3"></p>
            <p id="demo4"></p>
            <p id="demo5"></p>
            <p id="demo6"></p>
            <p id="demo7"></p>
            <p id="demo8"></p>
            <p id="demo9"></p>
            <p id="demo10"></p>
                <p id="demo111b"></p>
            <p id="demo1a"></p>
            <p id="demo2a"></p>
            <p id="demo3a"></p>
            <p id="demo4a"></p>
            <p id="demo5a"></p>
            <p id="demo6a"></p>
            <p id="demo7a"></p>
            <p id="demo8a"></p>
            <p id="demo9a"></p>
            <p id="demo10a"></p>
                <p id="demo111c"></p>

            <p id="demo1b"></p>
            <p id="demo2b"></p>
            <p id="demo3b"></p>
            <p id="demo4b"></p>
            <p id="demo5b"></p>
            <p id="demo6b"></p>
            <p id="demo7b"></p>
            <p id="demo8b"></p>
            <p id="demo9b"></p>
            <p id="demo10b"></p>
{#            sprawdzenie czy sortuja #}
            <p id="demo11"></p>
            <p id="demo12"></p>
            <p id="demo13"></p>
            <p id="demo14"></p>
            <p id="demo15"></p>
            <p id="demo16"></p>
            <p id="demo17"></p>
            <p id="demo18"></p>
            <p id="demo19"></p>
            <p id="demo20"></p>
            <p id="demo21"></p>

            <p id="demo22"></p>
            <p id="demo23"></p>
            <p id="demo24"></p>
            <p id="demo25"></p>
            <p id="demo26"></p>
            <p id="demo27"></p>
            <p id="demo28"></p>
            <p id="demo29"></p>
            <p id="demo30"></p>
            <p id="demo31"></p>
            <p id="demo32"></p>
            <p id="demo33"></p>
{#            <canvas id="birdBUBBLE" width="600" height="380"></canvas>#}


{#            <img id="image" style="width: 200px ; height: 200px; " src="{{ asset('js/img/sprite.png') }}" >#}
{#            <img id="numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/numbers.jpg') }}" >#}
{#            <img id="blue_numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/blue_numbers_better.png') }}" >#}
{#            <img id="compare2numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/porownanie2liczb.png') }}" >#}
{#            <img id="click2start" style="width: 200px ; height: 200px; " src="{{ asset('js/img/click_to_start01.png') }}" >#}
{#            <img id="pause" style="width: 200px ; height: 200px; " src="{{ asset('js/img/pause.png') }}" >#}

{#            <img id="image" style="width: 200px ; height: 200px; " src="{{ asset('js/img/sprite.png') }}" >#}
{#            <img id="numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/numbers.jpg') }}" >#}
{#            <img id="blue_numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/blue_numbers_better.png') }}" >#}
{#            <img id="compare2numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/porownanie2liczb.png') }}" >#}
{#            <img id="click2start" style="width: 200px ; height: 200px; " src="{{ asset('js/img/click_to_start01.png') }}" >#}
{#            <img id="pause" style="width: 200px ; height: 200px; " src="{{ asset('js/img/pause.png') }}" >#}

{#            <img id="table" style="width: 200px ; height: 200px; " src="{{ asset('js/img/table_broad.png') }}" >#}
{#            <img id="red_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/red_circle.png') }}" >#}
{#            <img id="brown_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/brown_circle.png') }}" >#}
{#            <img id="square-traingle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/square-triangle.png') }}" >#}


        </div>
        </div>
{#        <div class="col-sm-2">#}
{#            <div class="start-algorithms">#}
{#                <img id="bubble--sort" style="width: 100px ; height: 50px; " src="{{ asset('js/img/BUBBLE-start-small.png') }}" >#}
{#            </div>#}
{#            <br>#}
{#            <div class="start-algorithms">#}
{#                <img id="quick--sort" style="width: 100px ; height: 50px; " src="{{ asset('js/img/QUICK-start-small.png') }}" >#}
{#            </div>#}
{#            <br>#}
{#            <div class="start-algorithms">#}
{#                <img id="count--sort" style="width: 100px ; height: 50px; " src="{{ asset('js/img/COUNT-start-small.png') }}" >#}
{#            </div>#}
{#            <br>#}
{#            <div class="start-algorithms">#}
{#                <img id="merge--sort" style="width: 100px ; height: 50px; " src="{{ asset('js/img/MERGE-start-small.png') }}" >#}
{#            </div>#}
{#            <br>#}
{#            <div class="start-algorithms">#}
{#                <img id="heap--sort" style="width: 100px ; height: 50px; " src="{{ asset('js/img/HEAP-start-small.png') }}" >#}
{#            </div>#}
{#            #}{#            <h1>under  title will be canvas with simulation</h1>#}
{#        </div>#}
    </div>
{% endblock %}

{%  block javascripts %}

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <script src="{{asset('js/first_page.js') }}"></script>
    {#    <script src="{{asset('js/SA_quick_sort.js') }}"></script>#}
   <script src="{{asset('js/sort_algorithms.js') }}"></script>

    {#    <script src="{{asset('js/counting_sort.js') }}"></script>#}

{% endblock %}
