{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}



{% block body %}




    <div class="form-group row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-1">
            <li><a href="{{path('hello_page') }} ">back</a></li>
        </div>
        <div class="col-sm-8">

            {{ form_start(algForm) }}
            {{ form_widget(algForm) }}
            <button type="submit" class="btn btn-primary">Run!</button>
        </div>
        <div class="col-sm-2"></div>
    </div>

    {{ form_end(algForm) }}


    <div class="form-group row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <h1>{{ wynikiAlgorytmuUczelnie is not null ?  "Results:" }}</h1>
            {% for wyn in wynikiAlgorytmuUczelnie %}

                {% dump(wyn) %}
                <h5> Day :{{ wyn.numer_dnia }} Subject {{ wyn.nazwa_zajec }}</h5>
            {% endfor %}
            {% dump(FLAGA) %}

            {% if FLAGA %}
                <h4>{{ wynikiAlgorytmuUczelnie is not null ?  "Verification negative - there in no place for   "}}{{ wynikiAlgorytmuUczelnie is not null ? ilosc_niezapisanych }}{{ wynikiAlgorytmuUczelnie is not null ?"   subject" }} </h4>
            {% else %}
                <h4>{{ wynikiAlgorytmuUczelnie is not null ?  "Verification positive - all subject are placed into a sheadule"  }}</h4>
            {% endif %}
        </div>
        <div class="col-sm-2">

        </div>
    </div>



{% endblock %}
