{% extends 'base.html.twig' %}

{% block title %}Hello InsertionSortController!{% endblock %}

{% block body %}
    <style>
        html{
            font-size: 62.5%;
        }
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        canvas{
            border : 1px solid #000;
            display: block;
            margin: 0 auto;
        }
        #elements{
            visibility: hidden;
            width: 1px;
            height:1px;
            display:flex;
        }
        #img4{
            height: 15rem;
            width:30rem;
            /*display: block;*/
            text-align: center;
            display: block;margin-left: auto; margin-right: auto;text-align: center;
            justify-content: center;
            align-items: center;
        }

        @media all and (max-width: 615px) and (min-width:1px) {
            body {
                background-color: white;
                /*docelowo bialo*/
            }

            #birdINSERTIONHALF {
                height: 15rem;
                /*width: 560px;*/

                width: 25rem;
            }
            #img4{
                height: 7rem;
                width:15rem;
            }
        }
    </style>

    <div class="form-group row">

        <div class="col-sm-12">
            <li><a href="{{path('sort_algorithms') }} ">Wstecz</a></li>




            <canvas id="birdINSERTIONHALF" width="600" height="380"></canvas>
            <br><br><br>
            <img id="img4"  src="{{ asset('js/img/mix-sort/RESTART.png') }}" >
{#            <img id="img5" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_sort/START1.png') }}" >#}
{#            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>#}
           <div id="elements">
            <p>How many numbers you want to sort with bubble sort? najlepiej do 12000 w zaleznosci od mocy obliczeniowej</p>
            <form name="myForm">
                <input id="numb" name="fname">
                <button onclick="  myFunction()"  type="button">Submit</button>

            </form>


            <p id="demo"></p>
            <p id="demo1"></p>
            <p id="demo2"></p>
            <p id="demo3"></p>
            <p id="demo4"></p>
            <p id="demo5"></p>










            <img id="image" style="width: 200px ; height: 200px; " src="{{ asset('js/img/sprite.png') }}" >
            <img id="numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/numbers.jpg') }}" >
            <img id="blue_numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/blue_numbers_better.png') }}" >
            <img id="compare2numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/porownanie2liczb.png') }}" >
            <img id="click2start" style="width: 200px ; height: 200px; " src="{{ asset('js/img/click_to_start01.png') }}" >
            <img id="pause" style="width: 200px ; height: 200px; " src="{{ asset('js/img/pause.png') }}" >

            <img id="table" style="width: 200px ; height: 200px; " src="{{ asset('js/img/table_broad.png') }}" >
            <img id="red_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/red_circle.png') }}" >
            <img id="brown_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/brown_circle.png') }}" >
            <img id="square-traingle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/square-triangle.png') }}" >
            <img id="img1" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_half_sort/prostokat1.png') }}" >
            <img id="img2" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_half_sort/MOVES1.png') }}" >
{#            <img id="img3" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_half_sort/SORTEDUNSORTED1.png') }}" >#}
            <img id="img3" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_sort/SORTEDUNSORTED1.png') }}" >
           </div>
        </div>

    </div>
{% endblock %}
{%  block javascripts %}

    <script>

    </script>
    <script src="{{asset('js/insertion_half_sort.js') }}"></script>
{% endblock %}