<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Title{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}"/>
    {#Resetujący CSS#}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}"/>
{#    Style for fonts#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko:700">#}


{#    Swiper#}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


{#    End swiper code#}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{{ path('hello_page') }}">
{#                <div class="div-prifile-image">#}
{#                    <img class="profile-image" width="50px" src="{{asset('media/assets/MyPhoto/MyAvatar.png')}}"#}{# title="my image"#}{##}{# alt="My image"#}{#>#}
{#                </div>#}
                <div class="div-dev-info">
                    <p class="name-dev">Adrian Mroczek</p>
                    <p class="text-muted">Front-End Developer</p>
                </div>

            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    {#Gotowe gdybym chcial wcisnac bloga ;D#}
                    {# <li class="nav-item">
                         <a class="nav-link" href="{{ path('hello_page') }}">Hello Page</a>
                     </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('algorytm') }}">#}
{#                            Algorithm#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('dodanie_do_bazy') }}">#}
{#                            Add data to database#}
{#                        </a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sort_algorithms') }}">
                            Sort algorithms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bubble_sort') }}">
                            Bubble sort
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bubble_sort_with_flag') }}">
                            Bubble sort with flag
                        </a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('quick_sort') }}">#}
{#                            Quick sort#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('counting_sort') }}">#}
{#                            Count sort#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('merge_sort') }}">#}
{#                            Merge sort#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('heap_sort') }}">#}
{#                            Heap sort#}
{#                        </a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('test') }}">
                            Future develop - test
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('first_page') }}">
                            First page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('select_sort') }}">
                            Select sort
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('insertion_sort') }}">
                            Insertion sort
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('insertion_half_sort') }}">
                            Insertion half sort
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</header>

<main role="main" class="container main">
    {% include 'flash_messages.html.twig' %}
    {% block main  %}{% endblock %}
</main>
{% block body %}
    //
{% endblock %}
{%  block javascripts %}{% endblock %}
</body>
</html>