{% extends 'base.html.twig' %}

{% block title %}Hello MergeSortController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    canvas{
        border : 1px solid #000;
        display: block;
        margin: 0 auto;
    }

</style>
    <div class="form-group row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-1">
            <li><a href="{{path('sort_algorithms') }} ">back</a></li>
        </div>
        <div class="col-sm-8">

            <h1>Hello {{ controller_name }}!  ✅</h1>
            <h2>JavaScript Can Validate Input</h2>




            <p id="demo"></p>
            <p id="demo1"></p>
            <p id="demo2"></p>
            <p id="demo3"></p>
            <p id="demo4"></p>
            <p id="demo5"></p>

            {#            here will be canvas#}
            <canvas id="bird" width="600" height="380"></canvas>
            <br><br><br>
            <img id="restart_img" style="width: 200px ; height: 200px;display: block;margin-left: auto; margin-right: auto;text-align: center;  " src="{{ asset('js/img/mix-sort/RESTART.png') }}" >
            <br><br><br>

            <img id="image" style="width: 200px ; height: 200px; " src="{{ asset('js/img/sprite.png') }}" >
            <img id="numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/numbers.jpg') }}" >
            <img id="blue_numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/blue_numbers_better.png') }}" >
            <img id="compare2numbers" style="width: 200px ; height: 200px; " src="{{ asset('js/img/porownanie2liczb.png') }}" >
            <img id="click2start" style="width: 200px ; height: 200px; " src="{{ asset('js/img/click_to_start01.png') }}" >
            <img id="table" style="width: 200px ; height: 200px; " src="{{ asset('js/img/table_broad.png') }}" >
            <img id="red_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/red_circle.png') }}" >
            <img id="brown_circle" style="width: 200px ; height: 200px; " src="{{ asset('js/img/brown_circle.png') }}" >
            <img id="pause" style="width: 200px ; height: 200px; " src="{{ asset('js/img/pause.png') }}" >
            <img id="bg" style="width: 200px ; height: 200px; " src="{{ asset('js/img/MERGE-SORT/IMAGE.png') }}" >
            <img id="img1" style="width: 200px ; height: 200px; " src="{{ asset('js/img/insertion_sort/prostokat1.png') }}" >

        </div>
        <div class="col-sm-2">

            <h1>under  title will be canvas with simulation</h1>
        </div>
    </div>
{% endblock %}
{%  block javascripts %}


    <script src="{{asset('js/merge_sort.js') }}"></script>
{% endblock %}